<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	
	<title>Music App</title>
    
    <!-- Bootstrap -->
   	
   	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<!-- reference css in thymelead template -->
	<link rel = "stylesheet" th:href = "@{/css/style.css}" />
	
</head>
<body>
	<h2 id = "heading" style="text-align:center;"> Music App </h2>
	<br><br><br>
	<div class = "row">
		<div  class = "column left">
			<h3 id = "heading"><b>New User Registration</b></h3>
			<a th:href = "@{/api/showFormToRegister}">
				Click here to Register
			</a>
	
		</div>
		
		<div class = "column right">
			<h3 id = "heading"><b>Login</b></h3>
			<a th:href = "@{/api/showFormToLogin}">
				Click here to Login
			</a>
		</div>
	</div>
	
	
</body>
</html>