<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	
	<title>Music App</title>
    
    <!-- Bootstrap -->
   	
   	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<!-- reference css in thymelead template -->
	<link rel = "stylesheet" th:href = "@{/css/style.css}" />
	
</head>
<body>
	<h2 id = "heading" style="text-align:center;"> Login as a User Music App </h2>
	
	<p> Loop through the Music Entry DB and get all the entry with the username who logged in </p>
	<br><br>
	<p> Create an endpoint to create new entry in the Music Entry table </p>
	<br><br>
	<p> Whenever the entry is created in the Music entry table -- Update the User count and Artist table as well </p>
	<br><br>
	<p> Create an endpoint to delete the entry from the Music Entry table </p>
	<br><br>
	
</body>
</html>