<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	
	<title>Music App</title>
    
    <!-- Bootstrap -->
   	
   	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<!-- reference css in thymelead template -->
	<link rel = "stylesheet" th:href = "@{/css/style.css}" />
	
</head>
<body>
	
	<div class = "container">
		<div class = "row" style="background-color:#A9DFBF ;height: 180px;">
	 		  <div class="item active" >
		        <img src="/photo/normalUser.jpg" style = "width: 100%; height: 180px;">
		      </div>
		</div>
		<table class = "table table-bordered table-striped">
			<thead class = "thead-dark">
				<tr>
					<th>User Name</th>
					<th>Song</th>
					<th>Artist</th>
					<th>Delete Entry</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "tempMusic : ${music}">
					<td th:text = "${tempMusic.user}" />
					<td th:text = "${tempMusic.song}" />
					<td th:text = "${tempMusic.artist}" />
					<td>
						<a th:href = "@{/api/delete(musicId = ${tempMusic.id})}"
						class = "btn btn-danger btn-sm"
						onclick = "if (!(confirm('Are you sure you want to delete this Entry?'))) return false">
						Delete
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<label class="control-label col-sm-5"></label>
		<form action="/api/createNewEntry">
	    	<input type="Submit" class="btn btn-success" value="Create New Entry" />
		</form>
		<br>
		<label class="control-label col-sm-5"></label>
		<form action="/api/main">
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="Submit" class="btn btn-success" value="Log out" />
		</form>
		
		<div class="footer-padding"></div>
		<div class="footer">
		    <p>@2020 Created by Kaustubh Singh</p>
		</div>
	</div>
	
	
</body>
</html>